annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
attrs==24.2.0 ; python_version >= "3.12" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "3.13"
certifi==2024.8.30 ; python_version >= "3.12" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "3.13"
idna==3.9 ; python_version >= "3.12" and python_version < "3.13"
mailbits==0.2.1 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.12" and python_version < "3.13"
poetry-core==1.9.0 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.9.1 ; python_version >= "3.12" and python_version < "3.13"
pydantic-core==2.23.3 ; python_version >= "3.12" and python_version < "3.13"
pypi-simple==1.6.0 ; python_version >= "3.12" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.13"
soupsieve==2.6 ; python_version >= "3.12" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.12" and python_version < "3.13"
tomli-w==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
