annotated-types==0.7.0
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.0
idna==3.10
mailbits==0.2.2
packaging==24.2
poetry-core==1.9.1
pydantic==2.10.4
pydantic-core==2.27.2
pypi-simple==1.6.1
requests==2.32.3
soupsieve==2.6
tomli==2.2.1
tomli-w==1.1.0
typing-extensions==4.12.2
urllib3==2.2.3
