---
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]
ci:
  autofix_prs: false
  autoupdate_schedule: weekly
  autoupdate_commit_msg: 'chore(pre-commit-deps): pre-commit autoupdate'
  skip:
    - pylint
    - pyright
    - poetry-lock
    - poetry-audit
    - poetry-check
    - renovate-config-validator  # the LTS version of node is too large for pre-commit.ci
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: file-contents-sorter
        files: ^(doc_config/known_words.txt)$
        args: [--unique]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=3000, --enforce-all]
      - id: forbid-submodules
      - id: pretty-format-json
        args: [--autofix, --indent=4]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: ad1b27d73581aa16cca06fc4a0761fc563ffe8e8  # frozen: v1.5.6
    hooks:
      - id: remove-tabs
      - id: forbid-tabs
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 591639fa2b9b3cc371310e8f015d3a22bc785e7b  # frozen: 42.84.0
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: ccf21790019848af3eb4464be2a9d5efed6358f3  # frozen: 0.36.1
    hooks:
      - id: check-dependabot
      - id: check-renovate
      - id: check-github-actions
        files: action\.(yml|yaml)
      - id: check-github-workflows
        args: [--verbose]
        files: ^(\.github/workflows/[^/]+|workflows/[^/]+)$
  - repo: https://github.com/Mateusz-Grzelinski/actionlint-py
    rev: 85c37735ea69e5baf0681530e57e63deee0ce733  # frozen: v1.7.10.24
    hooks:
      - id: actionlint
        additional_dependencies: [pyflakes, shellcheck-py]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 5857050259653556030b6b1f19f53e8868a427f6  # frozen: v4.12.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/adamchainz/blacken-docs
    rev: dda8db18cfc68df532abf33b185ecd12d5b7b326  # frozen: 1.20.0
    hooks:
      - id: blacken-docs
        files: \.(rst|md|markdown|tex)$
        additional_dependencies: [black==24.8.0]  # This may need to be updated/removed in the future once ruff supports formatting Python code blocks in markdown
        args: [--line-length=100]
  - repo: https://github.com/lyz-code/yamlfix
    rev: f857ca370af3db7e5e181373d45c06a148fac3f8  # frozen: 1.19.1
    hooks:
      - id: yamlfix
  - repo: https://github.com/AleksaC/hadolint-py
    rev: 458cb25edf664682e3e856a53a2f9af33e068297  # frozen: v2.14.0
    hooks:
      - id: hadolint
        args: [--ignore=DL3008, --ignore=DL3018]
  - repo: https://github.com/hukkin/mdformat
    rev: 2d496dbc18e31b83a1596685347ffe0b6041daf0  # frozen: 1.0.0
    hooks:
      - id: mdformat
        args: [--number, --end-of-line, keep]
        additional_dependencies:
          - setuptools  # This is required since Python no longer installs setuptools by default in virtual environments
          - mdformat-beautysh
          - mdformat-footnote
          - mdformat-front-matters
          - mdformat-gfm
          - mdformat-gfm-alerts
          - mdformat-mkdocs
          - mdformat-shfmt
          - mdformat-simple-breaks
          - mdformat-toc
          - mdformat-web
          - mdformat-wikilink
  - repo: https://github.com/pappasam/toml-sort
    rev: 8c5db1c8081310adb476e1661c4d5d1fb6dbd96e  # frozen: v0.24.3
    hooks:
      - id: toml-sort-fix
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        args: [-sn]
      - id: pyright
        name: pyright
        entry: pyright
        language: system
        types: [python]
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        always_run: true
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
      - id: poetry-audit
        name: poetry-audit
        entry: poetry audit
        language: system
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
        always_run: true
        args: [--json, --ignore-code=CVE-2019-8341]
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
        files: ^(.*/)?(poetry\.lock|pyproject\.toml)$
        args: [--strict]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 45ef068da5f21267bb2a7ec4a623092959f09ce5  # frozen: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/docformatter
    rev: e73b8ba0c1316be565983236c72e653ad44e6b66  # frozen: v1.7.7
    hooks:
      - id: docformatter
        additional_dependencies: [tomli]
