annotated-types==0.7.0
attrs==24.3.0
beautifulsoup4==4.12.3
build==1.2.2.post1
cachecontrol[filecache]==0.14.1
certifi==2024.12.14
cffi==1.17.1 ; (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
cfgv==3.4.0
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
colorama==0.4.6 ; (os_name == "nt" or platform_system == "Windows")
crashtest==0.4.1
cryptography==44.0.0 ; sys_platform == "linux"
distlib==0.3.9
distro==1.9.0
dulwich==0.21.7
fastjsonschema==2.21.1
filelock==3.16.1
identify==2.6.4
idna==3.10
installer==0.7.0
jaraco-classes==3.4.0
jeepney==0.8.0 ; sys_platform == "linux"
keyring==24.3.1
mailbits==0.2.2
maison==2.0.0
more-itertools==10.5.0
msgpack==1.1.0
nodeenv==1.9.1
packaging==24.2
pexpect==4.9.0
pkginfo==1.12.0
platformdirs==4.3.6
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
pre-commit==4.0.1
ptyprocess==0.7.0
pycparser==2.22 ; (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
pydantic==2.10.4
pydantic-core==2.27.2
pypi-simple==1.6.1
pyproject-hooks==1.2.0
pywin32-ctypes==0.2.3 ; sys_platform == "win32"
pyyaml==6.0.2
rapidfuzz==3.11.0
requests==2.32.3
requests-toolbelt==1.0.0
ruyaml==0.91.0
secretstorage==3.3.3 ; sys_platform == "linux"
setuptools==75.6.0
shellingham==1.5.4
soupsieve==2.6
toml==0.10.2
toml-sort==0.24.2
tomlkit==0.13.2
trove-classifiers==2024.10.21.16
typing-extensions==4.12.2
urllib3==2.3.0
virtualenv==20.28.0
xattr==1.1.0 ; sys_platform == "darwin"
yamlfix==1.17.0
