---
name: Create & Scan SBOM
on:
  workflow_call:
permissions:
  security-events: write
  contents: write
  id-token: write
  attestations: write
jobs:
  create-and-scan-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version-file: pyproject.toml
      - name: Create lockfile
        run: |
          pip install poetry
          poetry lock
      - name: Create SBOM
        uses: anchore/sbom-action@61119d458adab75f756bc0b9e4bde25725f86a7a  # v0.17.2
        with:
          format: spdx-json
          output-file: ${{ github.event.repository.name }}-sbom.spdx.json
      - uses: actions/attest-build-provenance@6149ea5740be74af77f260b9db67e633f6b0a9a1  # v1.4.2
        if: ${{ !(github.event.pull_request.head.repo.fork || github.event.workflow_call.pull_request.head.repo.fork) && !contains(fromJSON('["dependabot[bot]", "renovate[bot]"]'), github.actor) }}
        with:
          subject-path: ${{ github.event.repository.name }}-sbom.spdx.json
      - name: Scan SBOM
        uses: anchore/scan-action@64a33b277ea7a1215a3c142735a1091341939ff5  # v4.1.2
        id: scan
        with:
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: true
          severity-cutoff: low
      - name: Scan SBOM (print results to console)
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: anchore/scan-action@64a33b277ea7a1215a3c142735a1091341939ff5 # v4.1.2
        with:
          output-format: table
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: false
          severity-cutoff: low
      - name: Upload SBOM scan SARIF report as a workflow artifact
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874  # v4.4.0
        with:
          name: sarif_artifact
          path: ${{ steps.scan.outputs.sarif }}
          if-no-files-found: error
      - name: Upload SBOM scan SARIF report to GitHub UI Security tab
        if: ${{ always() && github.event_name != 'pull_request' && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: github/codeql-action/upload-sarif@4dd16135b69a43b6c8efb853346f8437d92d3c93  # v3.26.6
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
