---
name: Create & Scan SBOM
on:
  workflow_call:
    inputs:
      pre-install-python-packages:
        description: Pre-install the specified Python packages before creating the
          SBOM (this string will be directly passed to `pip install`).
        required: false
        type: string
        default: ''
permissions:
  security-events: write
  contents: write
  id-token: write
  attestations: write
jobs:
  create-and-scan-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: pyproject.toml
      - name: Create lockfile and install dependencies
        run: |
          python -m pip install --upgrade poetry ${{ inputs.pre-install-python-packages }}
          python -m poetry sync
      - name: Create SBOM
        uses: anchore/sbom-action@17ae1740179002c89186b61233e0f892c3118b11 # v0.23.0
        with:
          format: spdx-json
          output-file: ${{ github.event.repository.name }}-sbom.spdx.json
      - uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        if: ${{ !(github.event.pull_request.head.repo.fork || github.event.workflow_call.pull_request.head.repo.fork) && !contains(fromJSON('["dependabot[bot]", "renovate[bot]"]'), github.actor) }}
        with:
          subject-path: ${{ github.event.repository.name }}-sbom.spdx.json
      - name: Scan SBOM
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c # v7.3.2
        id: scan
        with:
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: true
          severity-cutoff: low
      - name: Scan SBOM (print results to console)
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: anchore/scan-action@7037fa011853d5a11690026fb85feee79f4c946c # v7.3.2
        with:
          output-format: table
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: false
          severity-cutoff: low
      - name: Upload SBOM scan SARIF report as a workflow artifact
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sarif_artifact
          path: ${{ steps.scan.outputs.sarif }}
          if-no-files-found: error
      - name: Upload SBOM scan SARIF report to GitHub UI Security tab
        if: ${{ always() && github.event_name != 'pull_request' && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4.32.4
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
