---
name: Create & Scan SBOM
on:
  workflow_call:
permissions:
  security-events: write
  contents: write
  id-token: write
  attestations: write
jobs:
  create-and-scan-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: pyproject.toml
      - name: Create lockfile and install dependencies
        run: |
          pip install poetry
          poetry install
      - name: Create SBOM
        uses: anchore/sbom-action@62ad5284b8ced813296287a0b63906cb364b73ee # v0.22.0
        with:
          format: spdx-json
          output-file: ${{ github.event.repository.name }}-sbom.spdx.json
      - uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        if: ${{ !(github.event.pull_request.head.repo.fork || github.event.workflow_call.pull_request.head.repo.fork) && !contains(fromJSON('["dependabot[bot]", "renovate[bot]"]'), github.actor) }}
        with:
          subject-path: ${{ github.event.repository.name }}-sbom.spdx.json
      - name: Scan SBOM
        uses: anchore/scan-action@8d2fce09422cd6037e577f4130e9b925e9a37175 # v7.3.1
        id: scan
        with:
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: true
          severity-cutoff: low
      - name: Scan SBOM (print results to console)
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: anchore/scan-action@8d2fce09422cd6037e577f4130e9b925e9a37175 # v7.3.1
        with:
          output-format: table
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: false
          severity-cutoff: low
      - name: Upload SBOM scan SARIF report as a workflow artifact
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sarif_artifact
          path: ${{ steps.scan.outputs.sarif }}
          if-no-files-found: error
      - name: Upload SBOM scan SARIF report to GitHub UI Security tab
        if: ${{ always() && github.event_name != 'pull_request' && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: github/codeql-action/upload-sarif@19b2f06db2b6f5108140aeb04014ef02b648f789 # v4.31.11
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
