---
name: Check Public API for Breaking Changes
on:
  workflow_call:
    inputs:
      package-name:
        description: The name of the package to check.
        required: true
        type: string
jobs:
  check-api-for-breaking-changes:
    name: Check API for breaking changes
    runs-on: ubuntu-latest
    env:
      PACKAGE_NAME: ${{ inputs.package-name }}
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: pyproject.toml
      - name: Install package to check
        run: |
          pip install --upgrade .
          pip install griffe
      - name: Post breaking changes as GitHub annotations
        continue-on-error: true
        run: |
          griffe check --format=github --against="$(git rev-parse origin/main)" --search=src "$PACKAGE_NAME"
      - name: Check API for breaking changes
        continue-on-error: true
        run: |
          echo "## Breaking API Changes" > breaking_changes.md
          echo "\`\`\`" >> breaking_changes.md
          griffe check --format=verbose --against="$(git rev-parse origin/main)" --search=src "$PACKAGE_NAME" 2>&1 | tee -a breaking_changes.md
      - name: Finish writing summary file
        run: echo "\`\`\`" >> breaking_changes.md
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: breaking_changes
          path: breaking_changes.md
