---
name: Check Public API for Breaking Changes
on:
  workflow_call:
    inputs:
      package-name:
        description: The name of the package to check.
        required: true
        type: string
jobs:
  check-api-for-breaking-changes:
    name: Check API for breaking changes
    runs-on: ubuntu-latest
    env:
      PACKAGE_NAME: ${{ inputs.package-name }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: pyproject.toml
      - name: Install package to check
        run: |
          pip install --upgrade .
          pip install griffe
      - name: Post breaking changes as GitHub annotations
        continue-on-error: true
        run: |
          griffe check --format=github --against="$(git rev-parse origin/main)" --search=src "$PACKAGE_NAME"
      - name: Check API for breaking changes
        continue-on-error: true
        run: |
          echo "## Breaking API Changes" > breaking_changes.md
          echo "\`\`\`" >> breaking_changes.md
          griffe check --format=verbose --against="$(git rev-parse origin/main)" --search=src "$PACKAGE_NAME" 2>&1 | tee -a breaking_changes.md
      - name: Finish writing summary file
        run: echo "\`\`\`" >> breaking_changes.md
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: breaking_changes
          path: breaking_changes.md
