---
name: Check Public API for Breaking Changes
on:
  workflow_call:
    inputs:
      package-name:
        description: The name of the package to check.
        required: true
        type: string
jobs:
  check-api-for-breaking-changes:
    name: Check API for breaking changes
    runs-on: ubuntu-latest
    env:
      PACKAGE_NAME: ${{ inputs.package-name }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: pyproject.toml
      - name: Install package to check
        run: |
          pip install --upgrade .
          pip install griffe
      - name: Post breaking changes as GitHub annotations
        continue-on-error: true
        run: |
          griffe check --format=github --against="$(git rev-parse origin/main)" --search=src "$PACKAGE_NAME"
      - name: Check API for breaking changes
        continue-on-error: true
        run: |
          echo "## Breaking API Changes" > breaking_changes.md
          echo "\`\`\`" >> breaking_changes.md
          griffe check --format=verbose --against="$(git rev-parse origin/main)" --search=src "$PACKAGE_NAME" 2>&1 | tee -a breaking_changes.md
      - name: Finish writing summary file
        run: echo "\`\`\`" >> breaking_changes.md
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: breaking_changes
          path: breaking_changes.md
