---
name: Package Build
on:
  workflow_call:
    inputs:
      package-name:
        description: The name of the package to build and install.
        required: true
        type: string
      python-versions-array:
        description: A valid JSON array of Python versions to validate the package
          can be installed with.
        required: true
        type: string
      operating-systems-array:
        description: A valid JSON array of operating system names to validate the
          package can be installed on.
        required: false
        default: '["ubuntu", "windows", "macos"]'
        type: string
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} (Reusable)
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
env:
  PACKAGE_NAME: ${{ inputs.package-name }}
jobs:
  # Verify the package can be built
  build-package:
    name: Build package
    runs-on: ubuntu-latest
    environment: package-build
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
        with:
          fetch-depth: 0
      - uses: hynek/build-and-inspect-python-package@2dbbf2b252d3a3c7cec7a810e3ed5983bd17b13a  # v2.8.0
        id: build-pkg
        with:
          attest-build-provenance-github: ${{ !github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' }}
  # Verify the package can be installed
  install-package:
    name: Install package
    needs: build-package
    runs-on: ${{ matrix.os-name }}-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os-name: ${{ fromJSON(inputs.operating-systems-array) }}
        python-version: ${{ fromJSON(inputs.python-versions-array) }}
    steps:
      - name: Download built packages
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16  # v4.1.8
        with:
          name: Packages
          path: dist
      - name: Set up Python
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
        with:
          python-version: ${{ matrix.python-version }}
          check-latest: true
      - name: Test installing wheel
        shell: bash
        run: pip install dist/*.whl
      - name: Uninstall wheel
        run: pip uninstall --yes "${{ env.PACKAGE_NAME }}"
      - name: Test installing tarball
        shell: bash
        run: pip install dist/*.tar.gz
      - name: Uninstall tarball
        run: pip uninstall --yes "${{ env.PACKAGE_NAME }}"
  # Check that all jobs passed
  check-build-and-install-passed:
    if: ${{ !cancelled() }}
    needs: [build-package, install-package]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe  # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
