---
name: Create & Scan SBOM
on:
  workflow_call:
permissions:
  security-events: write
  contents: write
  id-token: write
  attestations: write
jobs:
  create-and-scan-sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: pyproject.toml
      - name: Create lockfile and install dependencies
        run: |
          pip install poetry
          poetry install
      - name: Create SBOM
        uses: anchore/sbom-action@fbfd9c6c189226748411491745178e0c2017392d # v0.20.10
        with:
          format: spdx-json
          output-file: ${{ github.event.repository.name }}-sbom.spdx.json
      - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        if: ${{ !(github.event.pull_request.head.repo.fork || github.event.workflow_call.pull_request.head.repo.fork) && !contains(fromJSON('["dependabot[bot]", "renovate[bot]"]'), github.actor) }}
        with:
          subject-path: ${{ github.event.repository.name }}-sbom.spdx.json
      - name: Scan SBOM
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v7.2.1
        id: scan
        with:
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: true
          severity-cutoff: low
      - name: Scan SBOM (print results to console)
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: anchore/scan-action@40a61b52209e9d50e87917c5b901783d546b12d0 # v7.2.1
        with:
          output-format: table
          sbom: ${{ github.event.repository.name }}-sbom.spdx.json
          fail-build: false
          severity-cutoff: low
      - name: Upload SBOM scan SARIF report as a workflow artifact
        if: ${{ always() && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: sarif_artifact
          path: ${{ steps.scan.outputs.sarif }}
          if-no-files-found: error
      - name: Upload SBOM scan SARIF report to GitHub UI Security tab
        if: ${{ always() && github.event_name != 'pull_request' && contains(fromJSON('["success", "failure"]'), steps.scan.outcome) }}
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
