---
name: Test docs
on:
  workflow_call:
    inputs:
      node-version:
        description: The version of Node.js to install.
        required: true
        type: number
      python-version:
        description: The version of Python to install. It can also be the string 'pyproject.toml',
          indicating to use the defined Python version from the pyproject.toml file.
        required: true
        type: string
      tox-env-array:
        description: A valid JSON array of tox environments to run.
        required: false
        default: '["docs", "doctests"]'
        type: string
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} (Reusable)
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  test-docs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tox-env: ${{ fromJSON(inputs.tox-env-array) }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ inputs.node-version }}
      - name: Install non-python documentation dependencies
        run: |
          npm install --global @mermaid-js/mermaid-cli
          sudo apt install --no-install-recommends --assume-yes graphviz
      - name: Set up Python (version)
        if: ${{ inputs.python-version != 'pyproject.toml' }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ inputs.python-version }}
          check-latest: true
      - name: Set up Python (pyproject.toml)
        if: ${{ inputs.python-version == 'pyproject.toml' }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ${{ inputs.python-version }}
          check-latest: true
      - name: Install tox
        run: python -m pip install tox
      - name: Test
        run: tox -ve ${{ matrix.tox-env }}
      - uses: vimtor/action-zip@1379ea20d4c5705669ba81fd626dd01b1c738f26  # v1.2
        if: ${{ !cancelled() }}
        with:
          dest: ${{ matrix.tox-env }}_results.zip
          files: .results_${{ matrix.tox-env }}/
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: ${{ !cancelled() }}
        with:
          name: artifact_${{ matrix.tox-env }}
          path: ${{ matrix.tox-env }}_results.zip
  # Check that all jobs passed
  check-docs-passed:
    if: ${{ !cancelled() }}
    needs: [test-docs]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe  # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
