---
name: Test code
on:
  workflow_call:
    inputs:
      repo-name:
        description: The full name of the repository to use to gate Codecov uploads,
          in the format `owner/repo`.
        required: true
        type: string
      python-versions-array:
        description: A valid JSON array of Python versions to test against. A valid
          option is also the string 'pyproject.toml', indicating to use the defined
          Python version from the pyproject.toml file.
        required: true
        type: string
      operating-systems-array:
        description: A valid JSON array of operating system names to run tests on.
        required: false
        default: '["ubuntu", "windows", "macos"]'
        type: string
      upload-to-codecov:
        description: A boolean indicating if coverage results should be uploaded to
          Codecov.
        required: false
        default: false
        type: boolean
      enable-retry-os-array:
        description: A valid JSON array of operating system names where retries should
          be allowed. This only applies to the 'test-general' job matrix and if an
          OS is provided that OS will receive 3 total attempts to successfully execute
          the 'tox run' command.
        required: false
        default: '[]'
        type: string
    secrets:
      codecov-token:
        description: The token to use to upload coverage results to Codecov. Only
          required when the `upload-codecov` input variable is set to `true`.
        required: false
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} (Reusable)
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  # Basic testing & linting
  test-general:
    runs-on: ${{ matrix.os-name }}-latest
    strategy:
      fail-fast: false
      matrix:
        os-name: ${{ fromJSON(inputs.operating-systems-array) }}
        python-version: ${{ fromJSON(inputs.python-versions-array) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          check-latest: true
      - name: Set up Python (version)
        if: ${{ matrix.python-version != 'pyproject.toml' }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          check-latest: true
      - name: Set up Python (pyproject.toml)
        if: ${{ matrix.python-version == 'pyproject.toml' }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: ${{ matrix.python-version }}
          check-latest: true
      - name: Install dependencies
        run: python -m pip install tox tox-gh-actions
      - name: Set up pre-commit cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml')
            }}
      - name: Run tox
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08  # v3.0.2
        with:
          timeout_minutes: 60
          max_attempts: ${{ contains(fromJSON(inputs.enable-retry-os-array), matrix.os-name) && 3 || 1 }}
          retry_wait_seconds: 120  # 2 minutes
          warning_on_retry: false
          command: tox -v
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: artifact_${{ matrix.os-name }}_${{ matrix.python-version }}_tests_and_linting
          include-hidden-files: true
          path: |
            .results_*/**
            .coverage*
  # Quick testing with coverage (no linting)
  test-fast:
    runs-on: ${{ matrix.os-name }}-latest
    env:
      REPO_NAME: ${{ inputs.repo-name }}
      pytest_report_title: Test Results (${{ matrix.os-name }})
    strategy:
      fail-fast: false
      matrix:
        os-name: ${{ fromJSON(inputs.operating-systems-array) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          check-latest: true
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: pyproject.toml
      - name: Install tox
        run: python -m pip install tox
      - name: Run tox
        id: run-tox
        run: tox -ve tests
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ !cancelled() }}
        with:
          name: artifact_${{ matrix.os-name }}_tests
          include-hidden-files: true
          path: |
            .results_*/**
            .coverage*
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        if: ${{ always() && inputs.upload-to-codecov && github.repository == env.REPO_NAME && contains(fromJSON('["success", "failure"]'), steps.run-tox.outcome) }}
        with:
          token: ${{ secrets.codecov-token }}
          files: ./.coverage_tests.xml
          name: codecov-${{ matrix.os-name }}
          fail_ci_if_error: true
          verbose: true
  # Update the workflow summary with test results
  create-job-summary:
    name: Test Results
    if: ${{ !cancelled() }}
    needs: test-fast
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: artifacts
      - name: Generate Summary
        uses: phoenix-actions/test-reporting@f957cd93fc2d848d556fa0d03c57bc79127b6b5e  # v15
        with:
          name: Test Results
          only-summary: false
          output-to: step-summary
          path: artifacts/**/.results_tests/results.xml
          reporter: java-junit
          fail-on-error: false
          max-annotations: 0
  # Check that all jobs passed
  check-tests-passed:
    if: ${{ !cancelled() }}
    needs: [test-general, test-fast, create-job-summary]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe  # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
