---
name: Publish to TestPyPI
on:
  workflow_call:
    inputs:
      package-name:
        description: The name of the package to build, upload, and install.
        required: true
        type: string
      repo-name:
        description: The full name of the repository to use to gate uploads, in the
          format `owner/repo`.
        required: true
        type: string
    secrets:
      test-pypi-api-token:
        description: The API token for the package on test.pypi.org.
        required: true
concurrency:
  group: pypi (Reusable Workflows)
env:
  PACKAGE_NAME: ${{ inputs.package-name }}
jobs:
  test-pypi-build:
    name: Build package with unique version for test.pypi.org
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
      - uses: tektronix/python-package-ci-cd/actions/create_unique_testpypi_version@v1.7.7
        id: create-version
        with:
          package-name: ${{ inputs.package-name }}
      - name: Build package
        uses: hynek/build-and-inspect-python-package@c52c3a4710070b50470d903818a7b25115dcd076 # v2.13.0
        with:
          attest-build-provenance-github: 'true'
    outputs:
      built-version: ${{ steps.create-version.outputs.new-version }}
  test-pypi-upload:
    name: Upload package to test.pypi.org
    needs: [test-pypi-build]
    if: github.repository == inputs.repo-name
    runs-on: ubuntu-latest
    environment: package-testpypi
    permissions:
      id-token: write
    steps:
      - name: Download built packages
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0
        with:
          name: Packages
          path: dist
      - name: Upload package to Test PyPI
        uses: pypa/gh-action-pypi-publish@ec4db0b4ddc65acdf4bff5fa45ac92d78b56bdf0  # v1.9.0
        with:
          password: ${{ secrets.test-pypi-api-token }}
          repository-url: https://test.pypi.org/legacy/
  test-pypi-install:
    name: Install package from test.pypi.org
    needs: [test-pypi-build, test-pypi-upload]
    if: github.repository == inputs.repo-name
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: pyproject.toml
      - name: Test installing from test.pypi.org
        # A retry is used to allow for some downtime before the package is installable
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08  # v3.0.2
        with:
          timeout_minutes: 10
          max_attempts: 5
          retry_wait_seconds: 30
          warning_on_retry: false
          command: pip install --index-url=https://test.pypi.org/simple/ --extra-index-url=https://pypi.org/simple
            "$PACKAGE_NAME==${{ needs.test-pypi-build.outputs.built-version }}"
