---
name: Publish API Breaking Change Check Results
on:
  workflow_call:
permissions:
  checks: write
  pull-requests: write
jobs:
  publish-test-results:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.event == 'pull_request' && !contains(fromJSON('["skipped", "cancelled", "failed"]'), github.event.workflow_run.conclusion) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Download and Extract Artifacts
        uses: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392  # v12
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: breaking_changes
          path: artifacts
      - name: Check for breaking changes
        run: |
          if grep -Pzl "\n\`\`\`\n\`\`\`" artifacts/breaking_changes.md; then
            echo "BREAKING_CHANGES=false" >> "$GITHUB_ENV"
          else
            echo "BREAKING_CHANGES=true" >> "$GITHUB_ENV"
          fi
      - if: ${{ endsWith(github.repository, '/python-package-ci-cd') }}  # Run the local action when this is run in the python-package-ci-cd repository
        id: fetch-pr-number-local
        uses: ./actions/fetch_pr_number
        with:
          sha: ${{ github.event.workflow_run.head_sha }}
          github-repository: ${{ github.repository }}
      - if: ${{ !endsWith(github.repository, '/python-package-ci-cd') }}  # Run the public action when this is run outside the python-package-ci-cd repository
        id: fetch-pr-number
        uses: tektronix/python-package-ci-cd/actions/fetch_pr_number@v1.8.3
        with:
          sha: ${{ github.event.workflow_run.head_sha }}
          github-repository: ${{ github.repository }}
      - name: Publish API Breaking Changes Check Results
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405  # v2.9.4
        if: ${{ env.BREAKING_CHANGES == 'true' }}
        with:
          header: breaking-api-changes
          number: ${{ steps.fetch-pr-number.outputs.number || steps.fetch-pr-number-local.outputs.number }}
          recreate: true
          path: artifacts/breaking_changes.md
      - name: Add workflow link to comment
        if: ${{ env.BREAKING_CHANGES == 'true' }}
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405  # v2.9.4
        with:
          header: breaking-api-changes
          number: ${{ steps.fetch-pr-number.outputs.number || steps.fetch-pr-number-local.outputs.number }}
          append: true
          message: |-
            <p><a href="${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.event.workflow_run.id }}">Link to workflow run</a></p>
      - name: Delete comment if no breaking changes are found
        if: ${{ env.BREAKING_CHANGES == 'false' }}
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405  # v2.9.4
        with:
          header: breaking-api-changes
          number: ${{ steps.fetch-pr-number.outputs.number || steps.fetch-pr-number-local.outputs.number }}
          delete: true
