---
name: Create & Scan SBOM
on:
  push:
    branches: [main]
  merge_group:
  pull_request:
    branches: [main]
  release:
    types: [published]
jobs:
  sbom-scan:
    uses: ./.github/workflows/_reusable-sbom-scan.yml
    with:
      pre-install-python-packages: setuptools wheel
    permissions:
      security-events: write
      contents: write
      id-token: write
      attestations: write
