---
name: Update python linting dependencies in-sync with pre-commit
on:
  pull_request:
    branches: [main]
jobs:
  update-python-and-pre-commit-deps:
    if: ${{ github.actor == 'dependabot[bot]' && contains(github.head_ref, '/pip/') }}
    uses: ./.github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
    with:
      commit-user-name: ${{ vars.TEK_OPENSOURCE_NAME }}
      commit-user-email: ${{ vars.TEK_OPENSOURCE_EMAIL }}
      dependency-dict: ''
      update-pre-commit: true
      run-pre-commit: true
      pre-commit-hook-skip-list: pyright,poetry-audit
      export-dependency-groups: udd:actions/update_development_dependencies,cutv:actions/create_unique_testpypi_version,fci:actions/find_unreleased_changelog_items,tests,docs:doc_config
    permissions:
      contents: write
    secrets:
      checkout-token: ${{ secrets.TEK_OPENSOURCE_TOKEN }}
      gpg-signing-key-private: ${{ secrets.TEK_OPENSOURCE_GPG_SIGNING_KEY_PRIVATE }}
      gpg-signing-key-passphrase: ${{ secrets.TEK_OPENSOURCE_GPG_SIGNING_KEY_PASSPHRASE }}
