---
name: Update python linting dependencies in-sync with pre-commit
on:
  pull_request:
    branches: [main]
jobs:
  update-python-and-pre-commit-deps:
    uses: ./.github/workflows/_reusable-update-python-and-pre-commit-dependencies.yml
    with:
      commit-user-name: ${{ vars.TEK_OPENSOURCE_NAME }}
      commit-user-email: ${{ vars.TEK_OPENSOURCE_EMAIL }}
      dependency-dict: '{"dev": ("pyright",)}'
      update-pre-commit: true
      run-pre-commit: true
      pre-commit-hook-skip-list: pyright,poetry-audit
      export-dependency-groups: udd:actions/update-development-dependencies,cutv:actions/create-unique-testpypi-version,fci:actions/find-unreleased-changelog-items
    permissions:
      contents: write
    secrets:
      checkout-token: ${{ secrets.TEK_OPENSOURCE_TOKEN }}
      gpg-signing-key-private: ${{ secrets.TEK_OPENSOURCE_GPG_SIGNING_KEY_PRIVATE }}
      gpg-signing-key-passphrase: ${{ secrets.TEK_OPENSOURCE_GPG_SIGNING_KEY_PASSPHRASE }}
